<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %>

	<body>
		<!-- Header -->
		<%if (locals.user != undefined) { %>
			<%- include ('./partials/headerLogueado') %>
		 <% }else{%>
		   <%- include ('./partials/headerDeslogueado')%> <!--hacer un headerDeslogueado-->
		 <% } %>
			<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Agregar productos</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">

						<form class="formModificado" method="POST" action='/products/add'>

							<label for="Nombre_Producto">Nombre del Producto: <input id="Nombre_Producto" name="" type="text"
									required /></label>
							<label for="Descripcion">Descripcion del Producto: <input id="Descripcion" name="" type="text"
									required /></label>
							<label for="Foto_Producto">Foto del Producto: <input id="Foto_Producto" name="" type="file"
									required /></label>
							<label for="Precio_Producto">Precio del Producto: <input id="Precio_Producto" name="" type="number"
									required /></label>
							<input type="submit" value="Submit" />

						</form>

					</h2>


					<!-- footer -->
					<%- include('./partials/footer.ejs') %>
						<!-- /footer -->
	</body>

</html>