<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %>

	<body>
		<!-- Header -->
		<%if (locals.user != undefined) { %>
			<%- include ('./partials/headerLogueado') %>
		 <% }else{%>
		   <%- include ('./partials/headerDeslogueado')%> <!--hacer un headerDeslogueado-->
		 <% } %>
		

			<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Registrate</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">

						<form class="formModificado" method="GET" action='/users/profile/id'>

							<label for="usuario">Usuario: <input id="usuario" name="" type="text" required/></label>
							<label for="contraseña">Contraseña: <input id="contraseña" name="" type="password" required /></label>
							<label for="email">E-mail: <input id="email" name="" type="email" required /></label>
							<label for="dni">DNI: <input id="dni" name="" type="text" required /></label>
							<label for="fdn">Fecha de Nacimiento: <input id="fdn" name="" type="date" required /></label>
							<label for="fdp">Foto de Perfil: <input id="fdp" name="" type="file" required /></label>
							<input type="submit" value="Submit" />

						</form>

					</h2>


					<!-- footer -->
					<%- include('./partials/footer.ejs') %>
						<!-- /footer -->
	</body>

</html>